<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <!-- Render image logo with navbar -->
      <%= image_tag("platform_logo.svg", size: "70x70" , alt: "platform_main_logo" ) %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <span class="navbar-brand">The Platformz</span>
      <ul class="navbar-nav ml-auto">

        <!-- Devise Authenthication for User Login conditional -->
        <!-- Have to declare delete method for signout -->
        <!-- Only link_to generate GET request so you have to explicitly declare delete method -->
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Sign Out' , destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Register' , new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In' , new_user_session_path, class: 'nav-link' %>
          </li>
            <% end %>
      </ul>
    </div>
  </div>
</nav>