<h2> Thanks for your purchase.</h2>
<h3> Your course information was sent to your email address for confirmation.</h3>

<div class="course_img">
  <%= image_tag("reactlogo.png", alt: "ReactCourseLogo" ) %>
</div>